
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/theme.less";

//override bootstrap fonts and colors
@import "fonts.less";
@import "colors.less";
@import "elements.less";
@import "dimensions.less";

html, body {
	color: @label;
	background: url('../images/bg_transparent.gif');
	height: 100%;
}

/*
 * Main content
 */

#timestamp {
	padding: 75px 10px 10px 10px;
	font-size: 0.9em;
	color: @label;
	font-style: italic;
	text-align: right;
	text-shadow: 0px 1px white;		
}

.main {
  	padding: 0 10px 20px 10px;
}

.main .page-header {
	margin-top: 0;
}

.card-container {
	padding: 7px;
	height: 100%;
}

.card {
	.rounded(5px);
	.drop-shadow(0, 5px, 8px, 0, 0.05);
	background-color: white;
	padding: 20px;
	p { 
		color: darken(@label, 30%);
		font-size: 1.2em;
	}
	img { width: 100%;}
}

#credit {
	#timestamp;
	padding-top: 0;
	text-align: left;
}

.navbar-shadow {
	border: none;
	.drop-shadow(0, 2px, 5px, 0, 0.2);
}

.navbar-bubble {
	//.rounded(50%);
	.border-radius(0, 50px, 50px, 0);
    .step-gradient(@stops: lighten(@navbar-default-bg, 10%) 0, @navbar-default-bg 42px, darken(@navbar-default-bg, 2%) 60px;);
	width: 90px;
	height: 60px; 
	position: absolute;
	//top: -25px;
	left: 42px;
	.drop-shadow(0, 14px, 10px, -10px, 0.1);
}

.app-icon {
	background: url('../images/Midas.svg') no-repeat 50% center;
    background-size: 50px;	
    border: 0;
    &:hover {
    	.drop-shadow(0, 20px, 10px, -15px, 0.2);
    }
	outline: none;
}

.logo {
    width: 42px;
	background: url('../images/logo.svg') no-repeat right 55%;
	background-size: 65%;
}

.nav-left {
	margin-left: 95px;
}

.pull-right {
	> li {
		height: 42px;
		font-size: 1.2em;
		margin-top: -1px;
	}
}

.menu-item {
	> li > a {
		text-shadow: 0px 1px lighten(@navbar-default-bg, 10%);	 
		&:hover {
			text-shadow: 0px 1px lighten(@navbar-default-bg, 20%);	
		}
	}
	> .open > .dropdown-toggle{
		&,
		&:hover {
			.step-gradient(@stops: lighten(@navbar-default-bg, 10%) 0, @navbar-default-bg 42px, darken(@navbar-default-bg, 2%) 60px;);
			//.gradient(@navbar-default-bg, darken(@navbar-default-bg, 15%), darken(@navbar-default-bg, 1%)) !important;
			color: @navbar-default-link-hover-color !important;
			text-shadow: 0px 1px lighten(@navbar-default-bg, 20%) !important;
	    }
	}
	> .active > a {
		&,
		&:hover,
		&:focus {
			.gradient(@navbar-default-bg, darken(@navbar-default-bg, 15%), darken(@navbar-default-bg, 1%)) !important;
			text-shadow: 0px 1px darken(@navbar-default-bg, 20%) !important;
        }
	}	
}

.navbar .nav > li > .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 40px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 7px solid @dropdown-bg;
  border-left: 10px solid transparent;
  border-bottom-color: @dropdown-bg;
  content: '';
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
	border-radius: 5px !important;
	left: -25px;
	padding-left: 25px;
	width: 700px;
}

#payments {
	width: 220px;
}

.dropdown-menu-list {
	.list-unstyled;
	padding: 10px;
	> li {
		margin: 0.8em 0;		
	}
	a {
		color: @dropdown-link-color;
		&:hover {
			color: @dropdown-link-hover-color;
			text-decoration: none;
		}
	}
}

.dropdown-header {
	font-size: @font-size-base;
	color: darken(@dropdown-link-color, 25%);
	font-style: italic;
	font-weight: bold;
	padding: 0.2em 0;
}

.profile-photo {
	margin: 10px 8px;
	width: 25px;
	height: 25px;
	background: url('../images/Profile.jpg');
	background-size: 25px;
	background-clip: padding-box;
	border: 15px;
	border-radius: 15px;
}

#globalnav {
	background: #3a3a3a url('../images/globalnav_bg_transparent.gif');	
	//padding-left: 3%;
}

.app-container {
	text-align: center;	
	padding: 35px 0;

	a {
		color: darken(@label, 15%);
	}
	img {
		//height: 70px;
		//width: 70px;
		width: 45%;
		min-width: 45px;
		max-width: 70px;
		opacity: 0.7;
	}
	&:hover {
		@media (min-width: @screen-md) {
			background: #2c2c2c url('../images/globalnav_bg_transparent.gif');
		}
		background-clip: padding-box;
		a {
			color: @label;
			text-decoration: none;
		}
		img{
			opacity: 1;
		}
	}

}

























